/* ======================================
   Task 4
   Override Bootstrap Primary Button
====================================== */

.btn-primary {

    background-color: #ff5722;
    border-color: #ff5722;

}

.btn-primary:hover {

    background-color: #e64a19;
    border-color: #e64a19;

}