.playlist-item {
    background-color: #121212;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

#playing {
    background-color: #1DB954;
    color: black;
    font-weight: bold;
}